* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
    max-width: 1536px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: black;
}

/******************************/
/*************header***********/
/******************************/

header {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

header figure{
    flex: max-content;
    margin:10px;
    margin-top: 30px;
}

header figure img{
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 20px;
    padding-top: 40px;
    border-top: 2px solid transparent;
}

nav li:hover {
    border-top: 2px solid #0065FC;
}

nav li:hover a {
    color: #0065FC;
}

.menu_item_actived {
    border-top: 2px solid #0065FC;
}

.blue {
    color: #0065FC;
}

/******************************/
/********header section********/
/******************************/

.header_section {
    margin-left: 50px;
    margin-right: 50px;
}

.header_section h1 {
    font-size: 22px;
    margin-bottom: 0;
}

.sous_titre {
    font-size: 17px;
    margin-top:10px
}

#recherche {
    display: flex ;
    height: 42px;
}

.marker {
    border: 1px solid #f2f2f2;
    width: 40px;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire {
    display: flex;
}

#marseille {
    border: 1px solid #f2f2f2;
    width: 250px;
    height: 42px;
    font-weight: bold;
    padding-left: 25px;
    font-size: 16px;
}

.rechercher {
    border: 1px solid #f2f2f2;
    width: 120px;
    height: 42px;
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.rechercher span {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.fa-search {
    width: 0;
    visibility: hidden;
}

#filtre {
    margin-top:25px;
    font-weight: bold;
    display: flex;
}

#filtre a {
    padding: 10px;
}

#filtre ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#filtre ul li {
    margin-right: 30px;
}

#filtre li h2 {
    margin: 0;
    font-size: 17px;
}

.filtre_item {
    border: 2px solid #e0e0e0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-right: 5px;
    display: flex;
}

.filtre_item a:hover {
    color: #0065FC;
}

.fa-money-bill-wave , .fa-child , .fa-heart , .fa-dog , .fa-info , .fa-star{
    color: #0065FC;
}

.fa-money-bill-wave , .fa-child , .fa-heart , .fa-dog {
    border: transparent solid #DEEBFF;
    border-radius: 100%;
    padding: 10px;
    background-color: #DEEBFF;
    width: 40px;
    text-align: center;
}

#information {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#information p {
    font-size: 15px;
}

.fa-info {
    border: 1px solid #dadada;
    border-radius: 100%;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
}

/******************************/
/*****Section hebergement******/
/******************************/

main {
    display: flex;  
    margin-right: 50px;
    margin-left: 50px;
}

main h2 {
    font-size: 20px;
}

main section {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    margin-left: 0px;
}

main section a {
    width: 100%;
    height: 100%;
}

#ancre_hebergement {
    margin-right: 45px;
    width: 70%;
}

.ensemble_hebergement {
    margin: 40px;
}

.hebergement_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: auto
}

.text_card a:hover {
    color: #0065FC;
}

.hebergement_card{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 15px;
    width: 29%;
    height: 200px;
    background-color: white; 
    box-shadow: 5px 5px 5px #e3e3e3;
    margin-bottom: 30px;
}

.hebergement_card .text_card{
    margin: 8px;
    font-size: 14px;
}

.hebergement_card .text_card h3{
    margin: 0px;
}

.image_card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0px;
    overflow: hidden;
}

.image_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_card p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.star_gray{
    color :#dddddd;
}

.hebergement_plus {
    font-weight: bold;
}

/******************************/
/******Section populaire*******/
/******************************/

main aside {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 30%;
}

.ensemble_populaire {
    margin: 20px 40px;
}

.pop_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populaire{
    border: 5px solid white;
    border-radius: 15px;
    height: 150px;
    background-color: white;
    display: flex;
    box-shadow: 4px 4px 4px #e3e3e3;
    margin-bottom: 30px;
}

.populaire_container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.pop_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 0px;
    overflow: hidden;
}

.pop_card a{
    width: 100%;
    height: 100%;
}

.pop_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop_text a:hover {
    color: #0065FC;
}

.pop_text {
    width: 60%;
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pop_text h3 {
    margin: 0;
}

.star {
    display: flex;
}

/******************************/
/************activité**********/
/******************************/

#bottomsection {
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: auto;
}

#bottomsection h2 {
    font-size: 20px;
}

.bs_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.act_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:0px;
    overflow: hidden;
}

.act_text {
    margin-left: 20px;
}

.act_text a:hover {
    color: #0065FC;
}
 
.activite_1 , .activite_2 , .activite_3 , .activite_4 , .activite_5 , .activite_6{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 5px 5px 5px #f4f4f4;
} 

.activite_1 {
    border: 1px solid #dee3e6;
    border-radius: 15px;
    width: 100%;
    height: 400px;
}

.activite_2 {
    border: 1px solid #dee3e6;
    border-radius: 15px;
    width: 100%;
    height: 200px;
}

.activite_3 {
    border: 1px solid #dee3e6;
    border-radius: 15px;
    width: 100%;
    height: 150px;
}

.activite_4 {
    border: 1px solid #dee3e6;
    border-radius: 15px;
    width: 100%;
    height: 400px;
}

.activite_5 {
    border: 1px solid #dee3e6;
    border-radius: 15px;
    width: 100%;
    height: 150px;
}

.activite_6 {
    border: 1px solid #dee3e6;
    border-radius: 15px;
    width: 100%;
    height: 200px;
}

.act_column1 , .act_column2 , .act_column3, .act_column4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.act_column1 a, .act_column2 a , .act_column3 a, .act_column4 a {
    width: 100%;
    height: 100%;
}

.act_column1 img , .act_column2 img , .act_column3 img, .act_column4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.activite_1 .act_img , .activite_4 .act_img {
    height: 90%;
}

/******************************/
/**************footer**********/
/******************************/

footer {
    display: flex;
    background-color: #F2F2F2;
    padding-left : 50px;
    width: 100%;
}

footer h2 {
    font-size: 17px;
}

.footerblock {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footer_block {
    width: 30%;
}
footer ul {
    padding: 0;
    margin-bottom: 30px;
}

footer li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

/******************************/
/*********media queries********/
/******************************/

@media (max-width: 992px) {
    section h1 {
        font-size: 17px;
    }

    .sous_titre {
        font-size: 14px;
    }
    .header_section h1 {
        font-size: 20px;
    }
    #filtre li {
        margin-bottom: 10px;
    }
    main {
        flex-wrap: wrap-reverse;
    }
    #ancre_hebergement {
        margin-right: 0;
        width: 100%;
    }
    .hebergement_card {
        width: 30%;
        height: 215px;
    }
    .hebergement_card .text_card {
        margin: 3px;
    }
    .image_card {
        height: 115px;
    }
    .text_card {
        font-size: 13px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    main aside {
        width: 100%;
        margin-bottom: 30px;
    }
    .act_column1 , .act_column2 , .act_column3 , .act_column4 {
        width: 40%;
    }
    .activite_1 , .activite_3 {
        margin-bottom: 50px;
    }
    .footerblock {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    footer {
        padding-left: 35px;
    }
    .footer_block {
        margin: 0;
    }
    .footer_block:nth-child(1) , .footer_block:nth-child(2){
        margin-right: 0;
    }
    footer li {
        font-size: 16px;
    }
    .footer_block h2{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
        header {
            display: inline;
            margin: 10px;
        }
        .header_section {
            margin-right: 30px;
            margin-left: 30px;
        }
        header figure {
            text-align: center ;
            margin: 0;
        }
        .sous_titre {
            margin-bottom: 30px;
        }
        .menu_item_actived {
            border-top: none;
            border-bottom: solid 3px #0065FC;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 10px;
            width: 50%;
            text-align: center;
        }
        .menu_item_actived:hover {
            border-top: none;
        }
        #menu {
            justify-content: space-around;
        }
        #menu .menu_activite {
            border-bottom: solid 3px #F2F2F2;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 10px;
            width: 50%;
            text-align: center;
            border-top: none;
        }
        .rechercher {
            width: 50px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        .rechercher span {
            display: none;
        }
        .fa-search {
            visibility: visible;
            color: white;
            width: 20px;
        }
        .marker {
            width: 45px;
        }
        .ville {
            width: 190px;
        }
        #recherche .ville {
            width: 220px;
        }
        #marseille {
            width: 230px;
        }
        .button_style {
            width: 50px;
        }
        #filtre {
            width: 100%;
        }
        #filtre ul li {
            margin-right: 0;
        }
        #filtre ul li:first-child {
            width: 100%;
        }
        .filtre_item {
            margin-top: 10px;
        }
        section {
            width: auto;
            margin-right: 50px;
            margin-left: 50px;
        }
        section h1 {
            font-size: 18px;
        }
        main {
            flex-wrap: wrap-reverse;
            margin-right: 0px;
            margin-left: 0px;
        }
        main aside {
            width: 100%;
            border-radius: 0px;
        }
        main section {
            width: 100%;
            border: none;
        }
        #ancre_hebergement {
            background-color: white;
        }
        .ensemble_hebergement {
            margin: 0 30px 30px 30px;
        }
        .hebergement_card {
            width: 100%;
            box-shadow: 5px 5px 5px #f4f4f4;
        }
        .ensemble_populaire {
            margin-right: 30px;
            margin-left: 30px;
        }
        #bottomsection {
            margin: 30px;
        }
        .activite_1 , .activite_2 , .activite_3 , .activite_4 , .activite_5 , .activite_6 {
            width: auto;
            height: 215px;
            margin-bottom: 20px;
        }
        .act_column1 , .act_column2 , .act_column3 , .act_column4 {
            width: 100%;
        }
        footer {
            padding-left: 0;
        }
        .footerblock {
            flex-direction: column;
            margin: 30px
        }
        .footer_block {
            width: 100%;
        }
        .footer_block:nth-child(3) ul {
            margin-bottom: 10px;
        }
}